
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=553c307d-7034-43d5-bcb6-9a1e23b0a083");
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: none;
    transition-property: none
}

*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: none;
    transition-property: none
}

html,
body,
div,
main,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
    display: block
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

input {
    background-color: transparent;
    border-left: solid 0px;
    border-right: solid 0px;
    border-bottom: solid whitesmoke 0px;
    border-top: solid 0px;
    width: 100%;
    color: white;
    padding: 20px;
}


input:focus{
    outline: none;
    color: white;
}

.input {
    background-color: transparent;
    font-size: .9rem;
    border-left: solid 0px;
    border-right: solid 0px;
    border-bottom: solid whitesmoke 0px;
    border-top: solid 0px;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px;
}

.input2 {
    background-color: transparent;
    border-left: solid 0px;
    border-right: solid 0px;
    border-bottom: solid whitesmoke 0px;
    border-top: solid 0px;
    width: 100%;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-style: italic

}

.input2:focus{
    outline: none;
    color: white;
}
input2:focus{
    outline: none;
    color: white;
}
.inputblack {
    color: black;
}

.input:focus{
    outline: none;
    color: white;
}


a {
    text-decoration: none
}

body {
    line-height: 1
}

ol,
ul {
    list-style-type: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal
}


input,
textarea {
    border-radius: 0
}

button,
input[type="button"] {
    background: 0
}

:required {
    -webkit-box-shadow: none;
    box-shadow: none
}

em,
i {
    font-style: italic
}

strong,
b {
    font-weight: bold
}

u {
    text-decoration: underline
}

pre,
code {
    font-family: Monaco, Courier, monospace
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word
}

blockquote,
q {
    quotes: "" ""
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ""
}

a,
input[type="submit"],
input[type="button"],
button,
label[for] {
    cursor: pointer
}

img {
    -ms-interpolation-mode: bicubic
}

@font-face {
    font-family: "Sofia";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/2e18fe90-c5ee-4d33-8a12-7cec5950df91.woff2") format("woff2")
}

:root {
    font-size: 22px;
    font-weight: 400;
    font-family: Sofia, sans-serif;
    font-style: normal;
    -webkit-font-feature-settings: "liga", "clig", "dlig", "kern";
    font-feature-settings: "liga", "clig", "dlig", "kern";
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: white;
    position: relative;
    min-height: 100vh
}

body * {
    font-size: .7272727273rem;
    font-family: inherit;
    line-height: 1rem;
    color: black;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center
}

@media (min-width: 1000px) {
    .header {
        bottom: 0;
        right: initial;
        -webkit-writing-mode: tb;
        writing-mode: tb;
        position: fixed;
        padding: 0;
        left: 1.5rem
    }
}

.header-title,
.header-subtitle {
    font-size: .7272727273rem;
    font-family: inherit;
    line-height: 1rem
}

.header-title {
    margin-right: 1rem
}

@media (min-width: 1000px) {
    .header-title {
        margin-right: 0;
        margin-bottom: 1rem
    }
}

.header-title a {
    -webkit-transition-property: color;
    transition-property: color
}

.header-title a:hover {
    color: dimgray;

}

.header-subtitle {
    color: dimgray;
    cursor: default
}

.grid {
    display: block;
    padding: 4rem 1rem
}

@media (min-width: 450px) {
    .grid {
        padding: 4rem 2rem
    }
}

@media (min-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem
    }
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        padding: 4rem;
        -webkit-transition-property: padding;
        transition-property: padding
    }
    .grid.menu-open {
        padding-right: 17rem;
        cursor: e-resize
    }
}

div.list {
    padding: 0 1rem 0;
    -webkit-box-shadow: inset 0px 0px 0px 1px #e5e5e5;
    box-shadow: inset 0px 0px 0px 1px #e5e5e5;
    transition: all 1s;
    height: 100%
}

div.list2 {
    padding: 0 1rem 0;
    -webkit-box-shadow: inset 0px 0px 0px 1px #e5e5e5;
    box-shadow: inset 0px 0px 0px 1px #e5e5e5;
    height: 100%;
    background: black;
    transition: all 1s ease-in-out;
    
}

div.terzo {
    
    background: #651fff;
    transition: all 0.5s ease-in-out;
}
div.quarto {
    
    background: #64ffda;
    transition: all 0.5s ease-in-out;
}

div.quinto {
    
    background: #a0f;
    transition: all 0.5s ease-in-out;
}
div.sesto {
    
    background: #000;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 450px) {
    div.list {
        padding: 0 2rem 1rem
    }
}



.list-title {
    font-size: 1.1650909091rem;
    font-family: inherit;
    line-height: 1.5rem;
    padding-bottom: .25rem;
    padding-top: .25rem;
    padding: 1.75rem 0;
    position: relative
}

.list-spacer {
    color: dimgray;

}

.list-link {
    font-size: 1.0356363637rem;
    font-family: inherit;
    line-height: 1.5rem;
    padding-bottom: .25rem;
    padding-top: .25rem;
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 1px;
    left: 0;
    background: var(--bg);
    color: var(--text);
    padding: 1.75rem 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    opacity: 0
}

.list-link:hover {
    opacity: 1
}

.list-link::after {
    font-size: .7272727273rem;
    font-family: inherit;
    line-height: 1rem;
    content: "→";
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-1rem, calc(-50% + 0.25rem));
    transform: translate(-1rem, calc(-50% + 0.25rem));
    opacity: 0;
    pointer-events: none;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    font-family: inherit
}

.list-link:hover::after {
    opacity: 1;
    -webkit-transform: translate(0, calc(-50% + 0.25rem));
    transform: translate(0, calc(-50% + 0.25rem))
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0);
    }
  }

.nonbutton {
    background: inherit;
	color: inherit;
	border: inherit;
	padding: inherit;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}



.back {
    font-size: .6465454546rem;
    font-family: inherit;
    line-height: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    color: dimgray;
    text-align: center;
    display: block;
    margin-top: 1rem;
    -webkit-transition-property: color;
    transition-property: color
}

.back:hover {
    color: black;
}

.product {
    position: relative
}

.product::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: #e5e5e5;
    display: block
}

.product-link {
    display: block;
    padding: 1rem 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative
}

.product-link::after {
    content: "→";
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-1rem, -50%);
    transform: translate(-1rem, -50%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    font-family: inherit
}

.product-link:hover::after {
    opacity: 1;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}


.chat-link {
    display: block;
    padding: 1rem 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative
}

.chat-link::after {
    content: "delete";
    color: dimgray;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-1rem, -50%);
    transform: translate(-1rem, -50%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    font-family: inherit
}

.chat-link:hover::after {
    opacity: 1;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}


.product-name {
    font-size: .7272727273rem;
    font-family: inherit;
    line-height: 1rem
}

.product-brand {
    font-size: .6465454546rem;
    font-family: inherit;
    line-height: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    color: dimgray;

}

main.list {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    padding: 4rem 1rem
}

main.list .list-container {
    margin: auto;
    width: 100%;
    max-width: 18rem;
    transition: all 1s ease-in-out;
}

.error {
    height: 100vh;
    display: -webkit-box;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem
}

.error .header {
    display: none
}

.error a {
    font-size: .9207272728rem;
    font-family: inherit;
    line-height: 1.5rem;
    padding-top: .25rem;
    padding-bottom: .25rem
}

.Typist .Cursor {
    display: inline-block; }
    .Typist .Cursor--blinking {
      opacity: 1;
      animation: blink 1s linear infinite; }
  
  @keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }










      .animated {
        animation-duration: 1s;
        animation-fill-mode: both
    }
    
    .animated.bounceIn {
        animation-duration: .7s
    }
    
    .animated.bounceOut {
        animation-duration: .5s
    }
    
    .animated.bounceIn {
        animation-name: bounceIn
    }
    
    .animated.bounceOut {
        animation-name: bounceOut
    }
    
    .animated.fadeIn {
        animation-name: fadeIn;
        animation-duration: .7s
    }
    
    .animated.fadeOut {
        animation-name: fadeOut;
        animation-duration: .3s
    }
    
    .animated.bounceInDown {
        animation-name: bounceInDown
    }
    
    .animated.bounceOutUp {
        animation-name: bounceOutUp
    }
    
    @keyframes bounceIn {
        from,
        20%,
        40%,
        60%,
        80%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
        }
        0% {
            opacity: 0;
            transform: perspective(1px) scale3d(0.3, 0.3, 0.3)
        }
        20% {
            transform: perspective(1px) scale3d(1.1, 1.1, 1.1)
        }
        40% {
            transform: perspective(1px) scale3d(0.9, 0.9, 0.9)
        }
        60% {
            opacity: 1;
            transform: perspective(1px) scale3d(1.03, 1.03, 1.03)
        }
        80% {
            transform: perspective(1px) scale3d(0.97, 0.97, 0.97)
        }
        to {
            opacity: 1;
            transform: perspective(1px) scale3d(1, 1, 1)
        }
    }
    
    @keyframes bounceOut {
        20% {
            transform: scale3d(0.9, 0.9, 0.9)
        }
        50%,
        55% {
            opacity: 1;
            transform: scale3d(1.1, 1.1, 1.1)
        }
        to {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3)
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
    
    @keyframes fadeOut {
        from {
            opacity: 1
        }
        to {
            opacity: 0
        }
    }
    
    @keyframes bounceInDown {
        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
        }
        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0)
        }
        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0)
        }
        75% {
            transform: translate3d(0, -10px, 0)
        }
        90% {
            transform: translate3d(0, 5px, 0)
        }
        to {
            transform: none
        }
    }
    
    @keyframes bounceOutUp {
        20% {
            transform: translate3d(0, -10px, 0)
        }
        40%,
        45% {
            opacity: 1;
            transform: translate3d(0, 20px, 0)
        }
        to {
            opacity: 0;
            transform: translate3d(0, -2000px, 0)
        }
    }
    
    .rrt-confirm-holder {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999999
    }
    
    .rrt-confirm-holder .shadow {
        width: 100%;
        height: 100%;
        background-color: rgba(50, 58, 68, 0.8)
    }
    
    .rrt-confirm-holder .rrt-confirm {
        width: 320px;
        background-color: white;
        position: absolute;
        z-index: 9;
        top: 20%;
        left: 50%;
        margin-left: -160px;
        box-shadow: 3px 3px 20px #333;
        border-radius: 4px;
        overflow: hidden
    }
    
    .rrt-confirm-holder .rrt-confirm .rrt-message {
        width: 100%;
        padding: 5%;
        min-height: 50px;
        font-size: 1em;
        background-color: white;
        text-align: center;
        font-family: 'open-sanscondensed-light', sans-serif;
        clear: both
    }
    
    .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder {
        display: -ms-flexbox;
        display: flex
    }
    
    .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button {
        -ms-flex-positive: 1;
        flex-grow: 1;
        height: 50px;
        text-transform: capitalize;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        float: left;
        border-top: 1px solid #f0f0f0;
        font-size: 14px;
        overflow: hidden;
        cursor: pointer
    }
    
    .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button:hover {
        background-color: #f5f5f5
    }
    
    .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button.rrt-ok-btn:active {
        background-color: #60bb71;
        color: white
    }
    
    .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button.rrt-cancel-btn:active {
        background-color: #db6a64;
        color: white
    }
    
    .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button:focus {
        outline: none
    }
    
    body.toastr-confirm-active {
        overflow: hidden
    }
    
    .redux-toastr *,
    .redux-toastr *:before,
    .redux-toastr *:after {
        box-sizing: border-box
    }
    
    .redux-toastr .top-left,
    .redux-toastr .top-right,
    .redux-toastr .top-center,
    .redux-toastr .bottom-left,
    .redux-toastr .bottom-right,
    .redux-toastr .bottom-center {
        width: 350px;
        position: fixed;
        z-index: 99999999;
        padding: 0 10px
    }
    
    .redux-toastr .top-left,
    .redux-toastr .top-right,
    .redux-toastr .top-center {
        top: 0
    }
    
    .redux-toastr .top-right,
    .redux-toastr .bottom-right {
        right: 0
    }
    
    .redux-toastr .bottom-left,
    .redux-toastr .bottom-right,
    .redux-toastr .bottom-center {
        bottom: 0
    }
    
    .redux-toastr .top-left,
    .redux-toastr .bottom-left {
        left: 0
    }
    
    .redux-toastr .top-center,
    .redux-toastr .bottom-center {
        left: 50%;
        margin-left: -175px
    }
    
    @media (max-width: 320px) {
        .redux-toastr .top-left,
        .redux-toastr .top-right,
        .redux-toastr .top-center,
        .redux-toastr .bottom-left,
        .redux-toastr .bottom-right,
        .redux-toastr .bottom-center {
            width: 320px
        }
        .redux-toastr .top-center,
        .redux-toastr .bottom-center {
            margin-left: -160px
        }
    }
    
    .redux-toastr .toastr {
        background-color: #fcfcfc;
        width: 100%;
        min-height: 70px;
        overflow: hidden;
        margin: 10px 0;
        border-radius: 4px;
        position: relative;
        z-index: 2;
        color: #333;
        opacity: .94;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4)
    }
    
    .redux-toastr .toastr:hover:not(.rrt-message) {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        opacity: 1
    }
    
    .redux-toastr .toastr .toastr-status {
        width: 100%;
        height: 5px
    }
    
    .redux-toastr .toastr .toastr-status.success {
        background-color: #555
    }
    
    .redux-toastr .toastr .toastr-status.warning {
        background-color: #f7a336
    }
    
    .redux-toastr .toastr .toastr-status.info {
        background-color: #58abc3
    }
    
    .redux-toastr .toastr .toastr-status.error {
        background-color: #db6a64
    }
    
    .redux-toastr .toastr .rrt-left-container,
    .redux-toastr .toastr .rrt-right-container {
        float: left;
        text-align: center;
        overflow: hidden
    }
    
    .redux-toastr .toastr .rrt-left-container {
        width: 80px;
        top: 0;
        left: 0;
        position: absolute;
        bottom: 0
    }
    
    .redux-toastr .toastr .rrt-left-container .rrt-holder {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 50%;
        margin-top: -35px;
        left: 5px;
        line-height: 60px
    }
    
    .redux-toastr .toastr .rrt-left-container .toastr-icon {
        fill: white;
        vertical-align: middle;
        margin-top: 5px
    }
    
    .redux-toastr .toastr .rrt-middle-container {
        width: 65%;
        margin-left: 80px;
        position: relative;
        float: left;
        font-family: Arial, Helvetica, sans-serif, sans-serif;
        font-size: 1em;
        text-align: left;
        padding: 10px 5px
    }
    
    .redux-toastr .toastr .rrt-middle-container .rrt-title {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 5px
    }
    
    .redux-toastr .toastr .rrt-right-container {
        width: 10%
    }
    
    .redux-toastr .toastr .close-toastr {
        width: 10%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        font-size: 22px;
        border: none;
        outline: none;
        opacity: 0.5;
        cursor: pointer;
        font-family: "Helvetica Neue", Helvetica, Arial sans-serif
    }
    
    .redux-toastr .toastr .close-toastr:hover {
        opacity: 1
    }
    
    .redux-toastr .toastr .close-toastr:focus {
        outline: none
    }
    
    .redux-toastr .toastr.rrt-info,
    .redux-toastr .toastr.rrt-success,
    .redux-toastr .toastr.rrt-warning,
    .redux-toastr .toastr.rrt-error {
        color: white
    }
    
    .redux-toastr .toastr.rrt-info {
        background-color: #58abc3
    }
    
    .redux-toastr .toastr.rrt-info .rrt-progressbar {
        background-color: #378298
    }
    
    .redux-toastr .toastr.rrt-success {
        background-color: #555
    }
    
    .redux-toastr .toastr.rrt-success .rrt-progressbar {
        background-color: #555
    }
    
    .redux-toastr .toastr.rrt-warning {
        background-color: #f7a336
    }
    
    .redux-toastr .toastr.rrt-warning .rrt-progressbar {
        background-color: #d87e09
    }
    
    .redux-toastr .toastr.rrt-error {
        background-color: #db6a64
    }
    
    .redux-toastr .toastr.rrt-error .rrt-progressbar {
        background-color: #c5352e
    }
    
    .redux-toastr .toastr.rrt-light .rrt-progressbar {
        background-color: #ccc
    }
    
    .redux-toastr .toastr.rrt-light .toastr-icon {
        fill: #333 !important
    }
    
    .redux-toastr .toastr.rrt-message {
        opacity: 1;
        border: 1px solid #dbdbdb
    }
    
    .redux-toastr .toastr.rrt-message .rrt-title {
        width: 90%;
        height: 50px;
        text-align: center;
        overflow: hidden;
        font-size: 1.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 50px;
        padding: 0 20px
    }
    
    .redux-toastr .toastr.rrt-message .rrt-text {
        width: 100%;
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto;
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        background-color: white;
        padding: 15px;
        font-size: 1.1em;
        margin-bottom: 20px
    }
    
    .redux-toastr .toastr.rrt-message .rrt-text img {
        display: block;
        margin: 10px auto;
        max-width: 100%
    }
    
    .redux-toastr .toastr.rrt-message .close-toastr {
        height: 50px
    }
    
    .redux-toastr .toastr .rrt-progress-container {
        height: 5px;
        margin: 0 -20px -20px -60px;
        position: absolute;
        bottom: 20px;
        width: 100%
    }
    
    .redux-toastr .toastr .rrt-progress-container .rrt-progressbar {
        border-radius: 0 0 0 4px;
        height: 100%
    }
    
    .redux-toastr .toastr-attention {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1
    }
    
    
    